.user-list{
    text-align: center;
    margin-top: 50px;
   
  }
  .user-list ul li{
    display:inline-block;
    border: 1px solid black;
    border-top: 1px solid black;
    padding: 5px;
    width:200px
  }
  .user-list ul{
    margin: 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
